.features-section {
  background-color: white;
  padding: 4rem 2rem;
}

.features-container {
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
}

.section-divider {
  width: 85%;
  height: 8px;
  margin-left: 15vh;
  background: #B36ED83D;
  margin-bottom: 3rem;
  border-radius: 4px;
}

.features-headline {
  font-size: 5rem;
  font-weight: 700;
  color: #40497A;
  margin: 0;
  line-height: 1.3;
}

@media (min-width: 1440px) {
  .features-headline {
    font-size: 3.75rem;
  }
}

@media (max-width: 768px) {
  .features-headline {
    font-size: 2rem;
  }
  
  .features-section {
    padding: 3rem 1rem;
  }
}
